/* * {
  flex-shrink: 0;
} */
.App {
  /* min-height: 100vh; */
  text-align: center;
  width: 960px !important;
}

.ladoga {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.blog {
  margin-left: 10%;
}

.centered {
  position: absolute;
  top: 35%;
  left: 55%;
  transform: translate(-50%, -50%);
  color: snow;
  font-size: 50px;
  font-family: "Dancing Script", cursive;
}
.header {
  flex-direction: column;
  font-size: 40px;
  height: 50px;
  margin-left: 2%;
}

.cart-icon {
  position: fixed;
  right: 300px;
  top: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
  font-size: 28px;
  background-color: #ef5350;
}

.cart-modal {
  position: fixed;
  z-index: 50;
  min-width: 50%;
  max-width: 100%;
  max-height: 80vh;
  overflow-y: auto;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  color: #282c34;
  padding: 10px;
  border: 3px solid #ef5350;
}

.cart-modal-close {
  position: absolute;
  top: 0;
  right: 0;
  color: #ef5350;
  cursor: pointer;
  font-weight: bold;
}

.cart-item-delete {
  cursor: pointer;
  color: #26a69a;
}

.show-alert {
  position: fixed;
  z-index: 100;
  right: 250px;
  top: 120px;
  background-color: rgb(60, 93, 126);
  color: #fff;
  padding: 10px;
}
.container-fluid {
  width: 960px !important;
}
#admin {
  margin-top: 7%;
}
.car {
  justify-content: space-around;
}
.care {
  justify-content: space-around;
  text-align: center;
}
#footer {
  background-color: #f2f0ed;
  border: 1px solid #b5b3b1;
}

.footer {
  margin-top: auto;
}

.shop {
  width: auto;
  flex: 1 1 auto;
}
#shop {
  background-color: #d4edd3;
}
#brand {
  display: flex;
  justify-content: space-evenly;
}

.home {
  display: flex;
}

.scale {
  display: inline-block; /* Строчно-блочный элемент */
  overflow: hidden; /* Скрываем всё за контуром */
}
.scale img {
  transition: 1s; /* Время эффекта */
  display: block; /* Убираем небольшой отступ снизу */
}
.scale img:hover {
  transform: scale(1.2); /* Увеличиваем масштаб */
}
#map {
  height: 100px;
  width: 500px;
}
.about {
  margin-top: 5%;
  margin-bottom: 7%;
  margin-left: 20%;
  height: 300px;
  width: 500px;
}
.contact {
  display: flex;
  justify-content: space-around;
  margin-top: 10%;
}
.about h5 {
  text-align: center;
}
